<div>
<p align="center">FORM 4C</p>
<p align="center"><i> Courts of Justice Act</i></p>
<p align="center">BACKSHEET</p>
</div>
<div style="display: inline-block; width: 50%;">
<%= party1name %> <br>
<%= party1style %>
</div>
<div style="display: inline-block;">
<p>-and-</p> 
</div>
<div style="display: inline-block;">
<%= party2name %> <br>
<%= party2style %>
</div>
<div style="display: inline-block; float: right;">
<p align="right"> Court File No. <%= courtfileno %></p>
</div>
<br>
<HR>
<div style="display: inline-block; width: 50%;">
</div>
<div style="display: inline-block; width:50%; float: right;">
<p align="center"> <strong> <%= jurisdiction %> </strong> </bold>
<p align="center"> PROCEEDING COMMENCED AT <%= city%> </p>
<hr>
<p align="center"><strong> BOOK OF AUTHORITIES </strong> </bold>
<hr>
<p><%= sender %></p>
<p align="right"> RCP-E 4C (July 1, 2007)</p>
</div>
