<p align="right">Court File No. <%= courtfileno %></p>
<p align="center"><strong><%= jurisdiction %></strong></p>
<p>B E T W E E N: </p>
<p align="center"> <%= party1name %></p>
<p align="right"><%= party1style %> </p>
<p align="center"> -and-</p>
<p align="center"><%= party2name %></p>
<p align="right"><%= party2style %></p>
<p align="center"> BOOK OF AUTHORITIES </p>
<p align="right"> <%= sender %>

<p>TO: <strong>THIS HONOURABLE COURT</strong></p>

<p>AND TO:

<%= receiveraddress %>
</p>
<%= decision0 %>
